<meta property="og:title" content="{{ .Title }}" />
<meta property="og:description" content="{{if .IsPage}}{{if .Params.summary}}{{ .Params.summary }}{{else}}{{ .Summary }}{{end}} | {{ end }} {{ with .Site.Params.description }}{{ . }}{{ end }}" />
<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}" />
<meta property="og:url" content="{{ .Permalink }}" />

  {{ if .Params.ogp_image }}
      <meta property="og:image" content="{{ .Params.ogp_image | absURL }}" />
  {{ end }}
  {{ with .Site.Params.images }}
    {{ range first 5 . }}
      <meta property="og:image" content="{{ . | absURL }}" />
    {{ end }}
  {{ end }}
<meta property=" og:image:width" content="1200" />
<meta property=" og:image:height" content="630" />

{{ if not .Date.IsZero }}
  <meta property="og:updated_time" content="{{ .Date.Format "2006-01-02T15:04:05-07:00" | safeHTML }}"/>
{{ end }}


{{ if .Params.ogp_image }}
<meta name="twitter:card" content="summary_large_image"/>
{{ else }}
<meta name="twitter:card" content="summary"/>
{{ end }}

<meta name="twitter:title" content="{{ .Title }}"/>
<meta name="twitter:description" content="{{if .IsPage}}{{if .Params.summary}}{{ .Params.summary }}{{else}}{{ .Summary }}{{end}} | {{ end }} {{ with .Site.Params.description }}{{ . }}{{ end }}"/>
{{ with .Site.Social.twitter }}
<meta name="twitter:site" content="@{{ . }}"/>
{{ end }}
